<div class="main-content">
  <div class="container-fluid">
    <!-- <style>
          html,
          .slide {
            background-color: #3c8dbc;
            color: #17384C;
            height: 100%;
          }
          .titulo {
            text-align: center;
            font-size: 24px;
            background-color: #215074;
            height: 5%;
            font-weight: 400;
            color: white;
            padding: 1%;
          }
          .etiqueta {
            color: black;
            font-weight: 401;
          }
          .textos {
            font-size: 12px;
            text-transform: uppercase;
    
          }
          .countChar{
            text-align: right; 
            font-size: 12px; 
            color: #215074;
          }
        </style> -->

    <div class="titulo">
      <p>
        Creación de Dependencia
      </p>
    </div>
    <br>
    <br>
    <form [formGroup]="creation" name="formCreación" class="register-form">
      <div>
        <div style="background-color: white; padding-left: 2%; padding-right: 2%; padding-top: 0.5%; padding-bottom: 2.5%;">
          <div class="=col-md-6 mx-auto mt-5 ">
            <div class="container-fluid" style="padding-left: inherit; padding-right: inherit;">
              <div class="row row-cols-2">
                <div class="form-group col">
                  <mat-form-field color="warn" [floatLabel]="floatLabelControl.value" class="textos">
                    <input matInput formControlName="codDependencia" type="text" placeholder="Código Dependencia" (ngModelChange)="valCodDep($event)">
                    <mat-error *ngIf="this.creation.controls.codDependencia.errors?.required">
                      Código de Dependencia Requerido
                    </mat-error>
                    <mat-hint style="color:red;" *ngIf="this.validaCodDep">
                      Error Código Dependencia ya Existente
                    </mat-hint>
                  </mat-form-field>
                </div>
                <div class="form-group col">
                  <mat-form-field color="warn" [floatLabel]="floatLabelControl.value" class="textos">
                    <input matInput formControlName="codPresupuestario" type="text" maxlength="5" placeholder="Código Presupuestario" (ngModelChange)="valCodPres($event)">
                    <mat-error *ngIf="this.creation.controls.codPresupuestario.errors?.required">
                      Código Presupuestario Requerido
                    </mat-error>
                    <mat-hint style="color:red;" *ngIf="this.validaCodPres">
                      Error Código Presupuestario ya Existente
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <mat-form-field color="warn" [floatLabel]="floatLabelControl.value" class="textos">
                <input matInput formControlName="nombreDep" class="textos" type="text" maxlength="1024" placeholder="Nombre" (ngModelChange)="asignaNombreDoc($event)">
                <mat-error *ngIf="this.creation.controls.nombreDep.errors?.required">
                  Nombre Dependencia Requerido
                </mat-error>
                <mat-hint align="end">{{f.nombreDep.value.length}} / 1024</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field color="warn" [floatLabel]="floatLabelControl.value" class="textos">
                <input matInput formControlName="cortoDep" class="textos" type="text" maxlength="50" placeholder="Nombre Corto">
                <mat-error *ngIf="this.creation.controls.cortoDep.errors?.required">
                  Nombre Abreviado Requerido
                </mat-error>
                <mat-hint align="end">{{f.cortoDep.value.length}} / 50</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field color="warn" [floatLabel]="floatLabelControl.value" class="textos">
                <input matInput formControlName="gafeteDep" class="textos" type="text" maxlength="60" placeholder="Nombre Gafete">
                <mat-error *ngIf="this.creation.controls.gafeteDep.errors?.required">
                  Nombre Gafete Requerido
                </mat-error>
                <mat-hint align="end">{{f.gafeteDep.value.length}} / 60</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field color="warn" [floatLabel]="floatLabelControl.value" class="textos">
                <input matInput formControlName="documentoDep" class="textos" type="text" maxlength="1024" placeholder="Nombre Documento"
                  readonly>
                <mat-error *ngIf="this.creation.controls.documentoDep.errors?.required">
                  Nombre Documento Requerido
                </mat-error>
                <mat-hint align="end">{{f.documentoDep.value.length}} / 1024</mat-hint>
              </mat-form-field>
            </div>
            <div class="container-fluid" style="padding-left: inherit; padding-right: inherit;">
              <div class="row row-cols-3">
                <div class="col">
                  <mat-form-field>
                    <mat-select placeholder="CONECTOR" formControlName="selConector">
                      <mat-option *ngFor="let conector of listConector" [value]="conector.value" style="font-size: 12px;">{{conector.viewValue}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.creation.controls.selConector.errors?.required">
                      CONECTOR REQUERIDO
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field>
                    <mat-select placeholder="FUNCIONALIDAD" formControlName="selFuncionalidad">
                      <mat-option *ngFor="let funcionalidad of listFuncionalidad" [value]="funcionalidad.value" style="font-size: 12px;">{{funcionalidad.viewValue}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.creation.controls.selFuncionalidad.errors?.required">
                      FUNCIONALIDAD REQUERIDO
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field>
                    <mat-select placeholder="AREA" formControlName="selArea">
                      <mat-option *ngFor="let area of listArea" [value]="area.ID_AREA" style="font-size: 12px;">{{area.NOMBRE_AREA}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.creation.controls.selArea.errors?.required">
                      AREA REQUERIDO
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="container-fluid" style="padding-left: inherit; padding-right: inherit;">
              <div class="row row-cols-3">
                <div class="form-group col">
                  <mat-form-field color="warn" [floatLabel]="floatLabelControl.value" style="font-size: 12px;">
                    <input matInput (click)="picker1.open()" formControlName="fechaAcuerdo" (ngModelChange)="parseDate($event)" [matDatepicker]="picker1"
                      placeholder="FECHA ACUERDO">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker1></mat-datepicker>
                    <mat-error *ngIf="this.creation.controls.fechaAcuerdo.errors?.required">
                      FECHA ACUERDO REQUERIDO
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group col">
                  <mat-form-field color="warn" [floatLabel]="floatLabelControl.value" style="font-size: 12px;">
                    <input matInput (click)="picker3.open()" formControlName="fechaPublicacion" (ngModelChange)="parseDatePublicacion($event)" [matDatepicker]="picker3"
                      placeholder="FECHA PUBLICACION">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker3></mat-datepicker>
                    <mat-error *ngIf="this.creation.controls.fechaPublicacion.errors?.required">
                      FECHA PUBLICACION REQUERIDO
                    </mat-error>
                    <mat-hint *ngIf="validaFechaPublica" style="color:red;">
                        FECHA NO PUEDE SER ANTERIOR A FECHA ACUERDO
                      </mat-hint>
                </mat-form-field>
                </div>

                <div class="form-group col">

                  <div class="row mb-2">

                    <div class="col-2" style="padding-top: 2%; ">
                      <mat-checkbox color="primary" formControlName="chkRefVigencia" [(ngModel)]="checked" (ngModelChange)="asignarRequerido($event)"></mat-checkbox>
                    </div>

                    <div class="col-10" style="text-align: left; padding-left:initial;">

                      <mat-form-field *ngIf="!checked" color="warn" [floatLabel]="floatLabelControl.value" style="font-size: 12px;">
                        <input matInput (click)="picker2.open()" formControlName="inicioVigencia" (ngModelChange)="parseDate($event)" [matDatepicker]="picker2"
                          placeholder="INICIO VIGENCIA">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                        <mat-error *ngIf="this.creation.controls.inicioVigencia.errors?.required">
                          FECHA INICIO VIGENCIA REQUERIDO
                        </mat-error>
                        <mat-hint *ngIf="validaFecha" style="color:red;">
                          FECHA NO PUEDE SER ANTERIOR A FECHA ACUERDO
                        </mat-hint>
                      </mat-form-field>

                      <mat-form-field *ngIf="checked" color="warn" [floatLabel]="floatLabelControl.value" class="textos">
                        <input matInput formControlName="inicioVigRef" class="textos" type="text" maxlength="1024" placeholder="REFERENCIA FECHA">
                        <mat-error *ngIf="this.creation.controls.inicioVigRef.errors?.required">
                          REFERENCIA FECHA INICIO VIGENCIA REQUERIDO
                        </mat-error>
                        <mat-hint align="end">{{f.inicioVigRef.value.length}} / 1024</mat-hint>
                      </mat-form-field>

                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="container-fluid" style="padding-left: inherit; padding-right: inherit;">
              <div class="row row-cols-2">
                <div class="col">
                  <mat-form-field>
                    <mat-select placeholder="DEPARTAMENTO" formControlName="selDepartamento">
                      <mat-option (onSelectionChange)="getMunicipio($event,deptos.DEPARTAMENTO)" *ngFor="let deptos of departamentos" [value]="deptos.DEPARTAMENTO"
                        style="font-size: 12px;">{{deptos.NOMBRE_DEPARTAMENTO}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.creation.controls.selDepartamento.errors?.required">
                      DEPARTAMENTO REQUERIDO
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field>
                    <mat-select placeholder="MUNICIPIO" formControlName="selMunicipio">
                      <mat-option *ngFor="let munis of municipios" [value]="munis.MUNICIPIO" style="font-size: 12px;">{{munis.NOMBRE_MUNICIPIO}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.creation.controls.selMunicipio.errors?.required">
                      MUNICIPIO REQUERIDO
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <mat-form-field color="warn" [floatLabel]="floatLabelControl.value" class="textos">
                <textarea matInput formControlName="referencia" style="text-transform: uppercase" color="warn" maxlength="2048" class="form-control"
                  placeholder="Referencia" rows="2"></textarea>
                <mat-error *ngIf="this.creation.controls.referencia.errors?.required">
                  REFERENCIA REQUERIDO
                </mat-error>
                <mat-hint align="end">{{f.referencia.value.length}} / 2048</mat-hint>
              </mat-form-field>
            </div>

            <!--Upload File-->

            <div *ngIf="files.length == 0" class="form-group">

              <label class="etiqueta">Adjuntar Acuerdo: </label>

              <!-- upload file -->

              <ngfFormData [files]="files" postName="file" [(FormData)]="sendableFormData"></ngfFormData>

              <ngfUploadStatus [(percent)]="progress" [httpEvent]="httpEvent"></ngfUploadStatus>

              <div>
                <!--<h3>Arrastre o seleccione un archivo</h3> -->
                <div class="inline-block col-md-12">
                  <button mat-raised-button style="background-color: #E5E6E7;" ngfDrop multiple="1" selectable="1" [(files)]="files" accept="application/pdf,image"
                    class="well my-drop-zone col-md-12" (filesChange)="lastFileAt=getDate()">

                    Arrastre el
                    <strong>archivo aqui</strong> o haga click para seleccionarlo
                    <i class="fa fa-paperclip fa-lg"></i>
                  </button>
                </div>
              </div>

            </div>

            <div *ngIf="files.length > 0">
              <label class="etiqueta">Acuerdo Adjuntado: </label>

              <div class="table-responsive" style="border: 2px solid #215074; padding-left: 10px; padding-right: 10px; padding-top: 10px; margin-bottom: 40px; font-size: 14px; border-radius: 5px; ">

                <span style="font-size: 16px; ">{{ files.length }} Archivos seleccionados </span>
                <i class="fa fa-file"></i>
                <table class="table">
                  <thead>
                    <tr>
                      <th class="textos">Nombre</th>
                      <th class="textos">Tipo</th>
                      <th class="textos">Tamaño</th>
                      <th class="textos">Descripción</th>
                      <th class="textos">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of files;let i=index">
                      <td>
                        <strong>{{ item.name }}</strong>
                      </td>
                      <td nowrap>
                        {{ item.type }}
                      </td>
                      <td nowrap>
                        {{ item.size/1024/1024 | number:'.2' }} MB
                      </td>
                      <td></td>
                      <td>
                        <i *ngIf="progress==100" class="fa fa-book"></i>
                        <button type="button" class="btn btn-danger btn-s" (click)="files.length=0" [disabled]="!files.length">
                          <span class="fa fa-trash"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div>

                </div>
              </div>

              <!--End Upoload File-->

            </div>
          </div>
        </div>
        <div class="button-group">
          <button mat-raised-button class="btn btn-primary btn-block" [disabled]="creation.invalid || verificaValidaciones()" (click)="crearDependencia()"
            style="font-size: 12px;">Crear</button>
          <button class="btn btn-danger btn-block" ui-sref="login" (click)="cancelar();" style="font-size: 12px;">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>