@import 'variables.scss';
@import 'ngDialog-theme-flat.scss';
@import 'ngDialog-theme-fly.scss';
@import 'ngDialog-theme-slide.scss';
@import '../../bower_components/material-shadows/material-shadows';

body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

ol, ul, dl {
  padding: 0;
}

/* -------------------- ng-animate ------------------- */
.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
     -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
       -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
          transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
       -o-transform: scaleX(0.0001);
          transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}
/* -------------------- end ng-animate ------------------- */

/* -------------------- login ------------------- */

.login-body {
    background-color: #f1f2f7;
}
.login-img-body {
  background: url( '../images/bg-1.jpg' ) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-form {
  max-width: 350px;
  margin: 100px auto 0;
  background: #d5d7de;
}

.login-img-body .login-form {
  max-width: 350px;
  margin: 200px auto 0;
  background: rgba(213,215,222,0.4);
  border: 1px solid #B0B6BE;
}
.login-img2-body .login-form {
  border: 1px solid #B0B6BE;
  background: rgba(213,215,222,0.7);
}
.login-img3-body .login-form {
  border: 1px solid #B0B6BE;
  background: rgba(213,215,222,0.9);
}
.login-form a {
  color: #688a7e !important;
}
.login-form h2.login-form-heading {
  margin: 0;
  padding:20px 15px;
  text-align: center;
  background: #34aadc;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.login-form .checkbox {
  margin-bottom: 14px;
}
.login-form .checkbox {
  font-weight: normal;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
.login-form .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login-form .form-control:focus {
  z-index: 2;
}
.login-form .login-img{
  font-size: 50px;
  font-weight: 300;
}
.login-form .input-group{
  padding-bottom: 15px;
}
.login-form .input-group-addon{
  padding: 6px 12px;
  font-size: 16px;
  color: #8b9199;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
}
.login-form input[type="text"], .login-form input[type="password"] {
  border: none;
  box-shadow: none;
  font-size: 16px;
  border-radius: 0;
}
.login-form .btn{
  border-radius: 0;
}
.login-form .btn-login {
  background: #f67a6e;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 4px #e56b60;
  margin-bottom: 20px;
}

.login-form p {
  text-align: center;
  color: #b6b6b6;
  font-size: 16px;
  font-weight: 300;
}

.login-form .error {
  color: #3C8DBC;
  font-weight: 500;
}
.login-img3-body .login-form p,.login-img2-body .login-form p {
  color: #34aadc;
}
.login-form a {
  color: #b6b6b6;
}

.login-form a:hover {
  color: #34aadc;
}
.form .required{
  font-size: 16px;
  color: #00a0df;
}

.login-wrap {
  padding: 20px;
}

.login-social-link  {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
}

.login-social-link a {
  color: #fff;
  padding: 15px 28px;
  border-radius: 4px;
}

.login-social-link a:hover {
  color: #fff;
}

.login-social-link a i {
  font-size: 20px;
  padding-right: 10px;
}

.login-social-link a.facebook {
  background: #5193ea;
  margin-right: 22px;
  box-shadow: 0 4px #2775e2;
  float:left;
}

.login-social-link a.twitter {
  background: #44ccfe;
  box-shadow: 0 4px #2bb4e8;
  float:left;
}

/* login-form-auth */
.login-form-auth {
  margin: 0px auto 0;
  background: #fff;
}

.login-form-auth .input-group-addon {
  border: 1px solid #ccc!important;
}

.login-form-auth input[type="text"], .login-form-auth input[type="password"] {
  border: 1px solid #ccc!important;
}

.login-form-auth .login-wrap {
  padding: 0!important;
}
/* end login-form-auth */
/* -------------------- end login ------------------- */

/* -------------------- angular-bootstrap-calendar -------------------

.badge-important {
  background-color: #767979;
}

span[data-cal-date]{
  color: #166EB9;
  font-style: normal;
  opacity: 12;
}

span[data-cal-date] {
  font-size: 1.6em;
  margin-top: 0px;
  margin-right: 10px;
}

.cal-day-today {
  background-color: #E3F2FD;
}

.event-important {
  background-color: #ad2121
}
.event-info {
  background-color: #FFF9C4; 
  cursor: hand;
  cursor: pointer;
}
.event-warning {
  background-color: #8FEABC
}
.event-inverse {
  background-color: #1b1b1b
}
.event-success {
  background-color: #006400
}
.event-special {
  background-color: #388E3C;
  color: #ffffff;
}

.cal-slide-content {
  padding: 10px;
  color: #0C2E53;
  background-color: #E1F5FE;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .5)
}

.cal-month-day {
  height: 50pt;
}


.cal-month-day .cal-events-num {
  margin-left: 5px;
  margin-top: 40px;
}

.cal-month-box [class*=cal-cell], .cal-year-box [class*=span] {
  min-height: 50pt;
}

.day-highlight.dh-event-info, .day-highlight.dh-event-info:hover {
  background-color: #FFF9C4; 
  cursor: hand;
  cursor: pointer;
}

.day-highlight.dh-event-special, .day-highlight.dh-event-special:hover {
  background-color: #388E3C;
  color: #ffffff;
}

.day-highlight.dh-event-warning, .day-highlight.dh-event-warning:hover {
  background-color: #fdf1ba;
}


.cal-day-box .cal-day-hour .day-highlight {
  height: 30 px
}
.cal-day-box .cal-hours {
  font-weight: 700;
  font-size: 9pt
}
.cal-day-box .cal-day-hour:nth-child(odd) {
  background-color: #fafafa
}
.cal-day-box .cal-day-panel {
  position: relative;
  padding-left: 60px;
  border: 1px solid #e1e1e1
}
.cal-day-box .cal-day-panel-hour {
    position: absolute;
    width: 100% ;
    margin-left: -60px
}


.cal-day-box .day-event {
  font:8;
  position: absolute;
  width: 300px;
  padding: 0px 2px !important;
}
.cal-day-box.day-event a {
  font-size: 9pt;
  text-overflow: ellipsis
}
.cal-day-box.day-highlight {
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #c3c3c3;
  margin: 1px;
  overflow: hidden;
  text-overflow: ellipsis
}

.cal-day-today span[data-cal-date] {
  color: #2A4656;
}

.cal-day-box .day-highlight.dh-event-important {
  border: 1 px solid #ad2121
}
.cal-day-box .day-highlight.dh-event-warning {
  border: 1 px solid #e3bc08
}
.cal-day-box .day-highlight.dh-event-info {
  border: 1 px solid #1e90ff
}
.cal-day-box .day-highlight.dh-event-inverse{
  border:1px solid #1b1b1b
}
.cal-day-box .day-highlight.dh-event-success {
    border: 1 px solid #006400
}
.cal-day-box .day-highlight .dh-event-special{
  background-color: #ffe6ff; border: 1 px solid purple
}
 */
 
/* -------------------- end angular-bootstrap-calendar ------------------- */

/* -------------------- bootstrap ------------------- */
.btn-sm{
  padding: 2px 10px;
}

.form-control[disabled], form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fff;
}

.form-control {
  height: 22px;
  font-size:12px; 
  padding: 2px 2px;
}

.input-group-addon, .input-group-btn .btn {
  padding: 0px 12px;  
}

/* ui-bootstrap fix for <a href> */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.panel-heading {
  cursor:pointer;
}

.btn-default {
  background-color: #fff
}

.btn-info {
  background-color: #00bcd4;
}

.btn-primary {
  background-color: #2196f3;
}

.btn-success {
  background-color: #4caf50;
}

.btn-warning {
  background-color: #ff9800;
}

.btn-danger {
  background-color: #f44336;
}

.table {
  margin-bottom: 0;
}
/* -------------------- end bootstrap ------------------- */

/* -------------------- grid- ------------------- */

.grid .warning {
  background-color: #7DB1D0!important;
}

.grid .btn, .btn-option {
  font-size: 10px;
  padding: 0 5px;
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell{
  background: #c9dde1;
}

[ui-grid-row] {
  /* clear: both; */
  display: table-row;
}

.ui-grid-row, .ui-grid-cell {
  height: auto!important;
}

.ui-grid-cell {
  float: none;
  display: table-cell;
  overflow:visible;//para mistrar el buton group
}

.ui-grid-header-cell, .ui-grid-cell-contents {
  white-space: normal;
  padding: 2px;
  word-break: break-word;
  overflow:visible;//para mistrar el buton group
}

.ui-grid-render-container-body .ui-grid-canvas{
  height: auto!important;
}

/* ocultar contador */
.ui-grid-pager-row-count-label {
  display: none;
}

//.ui-grid-pager-count {
//  display: none;
//}

.ui-grid-pager-row-count-picker{
  display:none;
}

sub.ui-grid-sort-priority-number, .ui-grid-icon-up-dir, .ui-grid-icon-down-dir, .ui-grid-icon-blank {
  display: none;
}
/* fin ocultar contador*/

.ui-grid-pager-control button{
  height: 20px; 
  width: 9px; 
}

.ui-grid-pager-control input  {
  padding: 0px 5px;    
  font-size: 11px;
  height: 20px;
}
/* -------------------- end grid --------------------- */

/* -------------------- ui-select ------------------- */
.ui-select-bootstrap>.ui-select-choices {
  z-index: 100;
}
.ui-select-bootstrap>.ui-select-choices-row{
  white-space: normal;
}

.ui-select-match span.ui-select-toggle {
  overflow: hidden;
}

.ui-select-bootstrap .ui-select-choices-row>a{
  white-space: normal !important;
  border-bottom: 1px solid #D8D5D5;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  pointer-events: none;
}
/* -------------------- ui-select------------------- */

/* -------------------- uppercase ------------------- */
.uppercase input, .uppercase textarea {
  text-transform: uppercase;
}
/* -------------------- end uppercase ------------------- */

/* -------------------- template ------------------- */

.ui-select-bootstrap .ui-select-choices-row>a {
    padding: 0px 7px;
}

.treeview-menu {
  white-space:normal;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
  border: 1px solid #3c8dbc;
}

/* added */
.skin-blue-light .main-header .navbar, .skin-blue-light .main-header .logo, .skin-blue-light .main-header li.user-header {
  background: #2196f3;
}

/* .skin-blue .main-header .navbar, .skin-blue .main-header .logo, .skin-blue .main-header li.user-header {
  background: #2196f3;
} */
/* end added */

.main-header {
  @include z-depth();
  @include z-depth-animation(2);
}

.box {
  @include z-depth(2);
}

.skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #17384C;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #143041;
}

.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
}

.skin-blue .sidebar-menu>li.header {
  color: #FFFFFF;
  font-weight: bold;
  background: #0C2D41;
}

.dropdown-menu{
  font-size: 12px;
  padding: 0;
  margin-left: 0;
}

.dropdown-menu>li>a {
  color: #444444!important;
}

.box-header.with-border {
  border-bottom: 1px solid #B2D1FF/* #D8D5D5 */;
}

.box-header {
  padding-top:4px;
  padding-bottom:4px; 
  border-bottom: 1px solid #D8D5D5;
}

.navbar-custom-menu .navbar-nav>li>a {
  padding: 15px 10px;
}

a {
  border: none;
}

.user-panel {
  height: 65px;
}

.content-header>h1 {
  font-size: 22px;
}

.content, .content-header {
  padding-top: 5px;
}

.box-header .box-title{
  font-size: 14px; 
}

.navbar-title {
  line-height: 48px;
  color: #fff;
  font-weight: bold;
}

.checkbox, .radio {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    top: 40px;
    margin-left: 0;
  }
}

.table-bordered {
  border: 1px solid #ddd;
}
/* -------------------- end template ------------------- */

/* preloader */
.preloader {
  position: relative;
  margin: 0px auto;
  display: inline-block;

  &:not([class*="pl-"]) {
    width: 40px;
  }

  &:before {
    content:'';
    display: block;
    padding-top: 100%;
  }

  &.pl-xs { width: 20px; }
  &.pl-sm { width: 30px; }
  &.pl-lg { width: 50px; }
  &.pl-xl { width: 80px; }
  &.pl-xxl { width: 100px; }

  &:not([class*="pls-"]) {
    .plc-path {
      animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    }
  }

  &[class*="pls-"] .plc-path {
    animation: dash 1.5s ease-in-out infinite;
  }

  &.pls-red .plc-path { stroke: $m-red; }
  &.pls-blue .plc-path { stroke: $m-blue; }
  &.pls-green .plc-path { stroke: $m-green; }
  &.pls-yellow .plc-path { stroke: $m-yellow; }
  &.pls-bluegray .plc-path { stroke: $m-bluegray; }
  &.pls-amber .plc-path { stroke: $m-amber; }
  &.pls-teal .plc-path { stroke: $m-teal; }
  &.pls-gray .plc-path { stroke: $m-gray; }
  &.pls-pink .plc-path { stroke: $m-pink; }
  &.pls-purple .plc-path { stroke: $m-purple; }
}

.pl-circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.plc-path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color{
  100%, 0%{
    stroke: $m-blue;
  }
  40%{
    stroke: $m-red;
  }
  66%{
    stroke: $m-green;
  }
  80%, 90%{
    stroke: $m-amber;
  }
}
/*  end preloader */

/* loading-bar */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: linear all;
  -o-transition: linear all;
  transition: linear all;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
}
/* #loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
  filter: alpha(opacity=0);
}
#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
  filter: alpha(opacity=100);
} */
#loading-bar .bar {
  -webkit-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: 0.45;
  filter: alpha(opacity=45);
  box-shadow: #fff 1px 0 6px 1px;
  border-radius: 100%;
  z-index: 99999;
}
#loading-bar-spinner {
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
#loading-bar-spinner .spinner-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0;
  float: left;
  background: transparent !important;
  border: 2px solid #00bcd4;
  border-bottom-color: transparent !important;
  border-radius: 100%;
  -webkit-animation: ball-clip-rotate 0.75s linear infinite;
  -o-animation: ball-clip-rotate 0.75s linear infinite;
  animation: ball-clip-rotate 0.75s linear infinite;
}
#loading-bar-spinner:before,
#loading-bar-spinner:after {
  content: " ";
  display: table;
}
#loading-bar-spinner:after {
  clear: both;
}
#loading-bar-spinner:before,
#loading-bar-spinner:after {
  content: " ";
  display: table;
}
#loading-bar-spinner:after {
  clear: both;
}

/* end loading-bar */

/* -------------------- otros ------------------- */
.progress {
  box-shadow: none;
  border-radius: 0;
  height: 5px;
  margin-bottom: 0;
  
  .progress-bar {
    box-shadow: none;
  }
}

.spinner {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  // background-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(10,10,10,.6);
  z-index: 100000;
}

.barra-derecha {
  padding: 2px 12px;
}

.has-error input, .has-error select {
  background: rgb(250, 255, 189);
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  /* padding: 10px 16px; */
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.vertical-buttons-container {
  margin-top: 40px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.cal-day-tick .fa {
  display: inline; 
}

.block {
  display: block;
}

.despacho-seleccionado {
  background-color: #11202B;
}

.sweet-alert {
  z-index: 100000;
  border: 1px solid #46B8DA;
}

.sweet-overlay{
  background-color: rgba(10,10,10,.6);
}

.sweet-alert h2 {
  font-size: 22px;
}

.resoluciones-container {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel .panel-heading {
  padding-top: 2px;
  padding-bottom: 2px;
}

.panel-default {
  border-color: #64B5F6;
}

.panel-default>.panel-heading {
  background-color: #BBDEFB;
}

.padding-0 {
  padding: 0
}

.fileinput .form-control {
  padding-top: 0;
}

.st-selected{
  border-left:8px solid blue;
}

.st-selected > td {
  background: gold;
}

.box-shadow {
  @include z-depth(2);
}


/* -------------------- end otros ------------------- */

/* -------------------- Oscurecer el elemento de un dropdown que coincide ------------------- */
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: lightgray;
  }
  
.ui-select-bootstrap .ui-select-choices-row.active.disabled>span, .ui-select-bootstrap .ui-select-choices-row.disabled>span {
    background-color: lightcyan;
}

/* -------------------- Resaltar en el dropdown el elemento de agrupacion ------------------- */
 .dropdown-header {
    padding: 1px 10px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.ui-select-bootstrap .ui-select-choices-row>span {
    white-space: normal;
}



.carousel-control, .carousel-control.right {
    background-color: none;
    color: gray;
}

.glyphicon {
  top: -4px;
}


.tab-archivos {
  padding-top: 5px;
    padding-right: 7px;
    padding-bottom: 5px;
    padding-left: 7px;
}


/* -------------  Para que el ngdialog no retorne el scroll al tope ---------- */ 
body.ngdialog-open { overflow: initial !important; }


/* -------------  Eliminar Borde de MagnifingGlass -------- */
.magnify-container {
    border: 0px solid #ccc;
}

/* ----------------  Smart Table --------------- */
 .st-sort-ascent:before {
    content: '\25B2';
  }

  .st-sort-descent:before {
    content: '\25BC';
  }

.st-selected>td {
    background: #BBDEFB;
}



ul.dropdown-menu.dropdown-menu-left.datetime-picker-dropdown {
   /* background-color: rgba(243, 215, 18, 0.3);*/
    /* border-color: #646668; */
}

/* ---------------  Mensajes un poco mas abajo para permitir entrar a bandejas ---------------  */
.toast-top-right {
  top: 40px;
  right: 5px;
}



/* -------------------- Botones como Radio Buttons ------------------- */
.btn-radio.active {
   background-color: green;
}


/* -------------------- control side bar ------------------- */
.control-sidebar-menu {
    margin: 0 0px;
}

.control-sidebar-dark .control-sidebar-menu>li>a:hover {
    background: #17384c;
}