<!--<style>
    html,
    .slide {
      background-color: #3c8dbc;
      color: #17384C;
      height: 100%;
    }
    .titulo {
      text-align: center;
      font-size: 24px;
      background-color: #215074;
      height: 40px;
      font-weight: 400;
      color: white;
      padding: 1%;
    }
    .etiqueta {
      color: black;
      font-weight: 401;
    }
    .textos {
        color: black;
        font-size: 14px;
      }
      .countChar{
        text-align: right; 
        font-size: 12px; 
        color: #215074;
      }
  </style> -->
    <div class="titulo">
        <p>
          Eliminar Solicitud
        </p>
      </div>
      <br><div mat-dialog-content>
          <label class="textos">Código Dependencia </label> &nbsp;<label class="etiqueta"> {{data.CODIGO_DEPENDENCIA}}</label>
          <br>
          <label class="textos">Nombre Dependencia </label> &nbsp; <label class="etiqueta">{{data.NOMBRE_DEPENDENCIA}}</label>
          <br>
          <label class="textos">Gestión realizada por </label> &nbsp; <label class="etiqueta"> {{data.NOMBRE}}</label>
          <br>
          <br>
          <form [formGroup]="eliminar" name="formEliminar" class="register-form">
              <mat-form-field style="font-size: 14px;">
    <mat-label>Observaciones</mat-label>
    <textarea matInput  color="primary" formControlName="observaciones" rows="2"></textarea>
    <mat-hint align="end">{{f.observaciones.value.length}} / 2048</mat-hint>
  </mat-form-field>
</form>
</div>
<div mat-dialog-actions style="text-align: right;">
  <button mat-button class="btn btn-primary" (click)="retornar()" [disabled]="eliminar.invalid" cdkFocusInitial style="font-size: 12px;">Aceptar</button>
  <button mat-button class="btn btn-danger" (click)="onNoClick()" style="font-size: 12px;">Cancelar</button>
</div>
