<style>
	html, .slide {
		background-color: #3c8dbc;
		color: #17384C;
	}
</style>
<form name="form" class="login-form box-shadow animated" ng-class="{'shake': form.$submitted && response.err}" ng-submit="submitForm(form.$valid)" novalidate>
	<div class="login-wrap">
		<p class="login-img"><img alt="logo" src="img/logo2.png"></p>
		<h2 class="text-center">CIT</h2>
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input type="text" class="form-control" name="user" ng-model="loginData.USUARIO" placeholder="Usuario" autofocus required>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <input type="password" class="form-control" name="CLAVE" ng-model="loginData.CLAVE" placeholder="Password" required>
    </div>
    <div class="text-center" ng-show="response.message">
      <p class="error">{{response.message}}</p>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
  </div>
</form>
