<style>
  div.card-body {
    border-style: solid;
    border-color:#13C1F8 ;
    background-color:#17384c ;
    border-radius: 1%;
  }
  h4.card-title {
  text-shadow: #13C1F8;
  color: white;
  size: 50px;
  font-weight: bold;
  text-align: center;
  
  }
  .button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  </style>

<div class="main-content">
  <div class="container-fluid">
    <!--  <ng-container *ngIf='carga'>
          <h3>Cargando información...</h3>
          <mat-progress-bar mode="indeterminate"  [color]="color" ></mat-progress-bar>
      </ng-container>   -->     
                            
      <div class="row" [style.display]="!carga?'':'none'">
        <div class="col-md-12">
             <div class="card">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">people</i>
                  </div>
                </div>
                <div class="card-body" >
                  <div class="toolbar">
                    <h4 class="card-title">Organigrama</h4>
                
                      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                          <mat-icon [ngStyle]="{'color':'#058626'}">supervisor_account</mat-icon>
                          <button mat-icon-button disabled></button>
                          {{node.item}}
                          <button [ngStyle]="{'color':'#69B257'}" mat-icon-button  (click)="modalAddDependencia(node)"><mat-icon >add box icon</mat-icon></button>
                          <button [ngStyle]="{'color':'#FC614E'}" mat-icon-button  (click)="DeleteItem(node)"><mat-icon >delete forever icon</mat-icon></button>
                         
                        </mat-tree-node>

                        <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
                          <button mat-icon-button disabled></button>
                          <mat-form-field appearance="fill">
                            <mat-label>New item...</mat-label>
                            <input matInput #itemValue placeholder="Ex. Lettuce">
                          </mat-form-field>
                          <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
                        </mat-tree-node>
                      
                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding >
                          <button  mat-icon-button [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle [ngStyle]="{'color':'#13C1F8','text-align':'center'}">     
                            <mat-icon class="mat-icon-rtl-mirror">
                              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                            <mat-icon  [ngStyle]="{'color':'#F17B12'}">person_add</mat-icon>
                            {{node.item}}
                            <button [ngStyle]="{'color':'#69B257','text-align':'center'}" mat-icon-button  (click)="modalAddDependencia(node)"><mat-icon >add box icon</mat-icon></button>
                          
                           </button>
                        
                        </mat-tree-node>            
                      </mat-tree>
                    
                  </div>
                </div>
             <!-- end content-->
          </div>
              <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
  
      </div>
      <!-- end row -->
 

  </div>
</div>


